* text=auto !eol
designer/controlselection.pp svneol=native#text/pascal
designer/designer.pp svneol=native#text/pascal
designer/designerform.pp svneol=native#text/pascal
designer/designerwidget.pp svneol=native#text/pascal
designer/widgetstack.pp svneol=native#text/pascal
examples/bitbtnform.pp svneol=native#text/pascal
examples/bitbutton.pp svneol=native#text/pascal
examples/checkbox.pp svneol=native#text/pascal
examples/combobox.pp svneol=native#text/pascal
examples/comdialogs.pp svneol=native#text/pascal
examples/dlgform.pp svneol=native#text/pascal
examples/groupbox.pp svneol=native#text/pascal
examples/hello.pp svneol=native#text/pascal
examples/helloform.pp svneol=native#text/pascal
examples/listboxtest.pp svneol=native#text/pascal
examples/memotest.pp svneol=native#text/pascal
examples/notebk.pp svneol=native#text/pascal
examples/notebku.pp svneol=native#text/pascal
examples/notebooktest.pp svneol=native#text/pascal
examples/progressbar.pp svneol=native#text/pascal
examples/speedtest.pp svneol=native#text/pascal
examples/testall.pp svneol=native#text/pascal
examples/testallform.pp svneol=native#text/pascal
examples/testtools.inc svneol=native#text/pascal
examples/toolbar.pp svneol=native#text/pascal
examples/trackbar.pp svneol=native#text/pascal
ide/compiler.pp svneol=native#text/pascal
ide/compileroptions.pp svneol=native#text/pascal
ide/dlgmessage.pp svneol=native#text/pascal
ide/find_dlg.pp svneol=native#text/pascal
ide/global.inc svneol=native#text/pascal
ide/global.pp svneol=native#text/pascal
ide/idecomp.pp svneol=native#text/pascal
ide/ideeditor.pp svneol=native#text/pascal
ide/include/linux/lazconf.inc svneol=native#text/pascal
ide/include/win32/lazconf.inc svneol=native#text/pascal
ide/lazarus.pp svneol=native#text/pascal
ide/lazconf.pp svneol=native#text/pascal
ide/main.pp svneol=native#text/pascal
ide/project.pp svneol=native#text/pascal
ide/splash.pp svneol=native#text/pascal
ide/testform.pp svneol=native#text/pascal
ide/viewform_dlg.pp svneol=native#text/pascal
ide/viewunit_dlg.pp svneol=native#text/pascal
images/bitbtn.xpm -text svneol=native#image/x-xpixmap
images/button.xpm -text svneol=native#image/x-xpixmap
images/checkbox.xpm -text svneol=native#image/x-xpixmap
images/color.xpm -text svneol=native#image/x-xpixmap
images/combobox.xpm -text svneol=native#image/x-xpixmap
images/default.xpm -text svneol=native#image/x-xpixmap
images/editbox.xpm -text svneol=native#image/x-xpixmap
images/fonts.xpm -text svneol=native#image/x-xpixmap
images/label.xpm -text svneol=native#image/x-xpixmap
images/lazarus.xpm -text svneol=native#image/x-xpixmap
images/lazarus64.xpm -text svneol=native#image/x-xpixmap
images/listbox.xpm -text svneol=native#image/x-xpixmap
images/memo.xpm -text svneol=native#image/x-xpixmap
images/menu.xpm -text svneol=native#image/x-xpixmap
images/mouse.xpm -text svneol=native#image/x-xpixmap
images/newform.xpm -text svneol=native#image/x-xpixmap
images/newunit.xpm -text svneol=native#image/x-xpixmap
images/notebook.xpm -text svneol=native#image/x-xpixmap
images/openfile.xpm -text svneol=native#image/x-xpixmap
images/penguin.xpm -text svneol=native#image/x-xpixmap
images/popup.xpm -text svneol=native#image/x-xpixmap
images/radiobutton.xpm -text svneol=native#image/x-xpixmap
images/save.xpm -text svneol=native#image/x-xpixmap
images/saveall.xpm -text svneol=native#image/x-xpixmap
images/speedbutton.xpm -text svneol=native#image/x-xpixmap
images/spinedit.xpm -text svneol=native#image/x-xpixmap
images/toggleform.xpm -text svneol=native#image/x-xpixmap
images/viewforms.xpm -text svneol=native#image/x-xpixmap
images/viewunits.xpm -text svneol=native#image/x-xpixmap
lcl/allunits.pp svneol=native#text/pascal
lcl/buttons.pp svneol=native#text/pascal
lcl/clipbrd.pp svneol=native#text/pascal
lcl/clistbox.pp svneol=native#text/pascal
lcl/comctrls.pp svneol=native#text/pascal
lcl/controls.pp svneol=native#text/pascal
lcl/dialogs.pp svneol=native#text/pascal
lcl/extctrls.pp svneol=native#text/pascal
lcl/filectrl.pp svneol=native#text/pascal
lcl/forms.pp svneol=native#text/pascal
lcl/graphics.pp svneol=native#text/pascal
lcl/imglist.pp svneol=native#text/pascal
lcl/include/alignment.inc svneol=native#text/pascal
lcl/include/application.inc svneol=native#text/pascal
lcl/include/basedragcontrolobject.inc svneol=native#text/pascal
lcl/include/bevel.inc svneol=native#text/pascal
lcl/include/bitbtn.inc svneol=native#text/pascal
lcl/include/bitmap.inc svneol=native#text/pascal
lcl/include/bitmapcanvas.inc svneol=native#text/pascal
lcl/include/bitmapimage.inc svneol=native#text/pascal
lcl/include/brush.inc svneol=native#text/pascal
lcl/include/buttoncontrol.inc svneol=native#text/pascal
lcl/include/buttonglyph.inc svneol=native#text/pascal
lcl/include/buttons.inc svneol=native#text/pascal
lcl/include/canvas.inc svneol=native#text/pascal
lcl/include/checkbox.inc svneol=native#text/pascal
lcl/include/clipbrd.inc svneol=native#text/pascal
lcl/include/colordialog.inc svneol=native#text/pascal
lcl/include/commondialog.inc svneol=native#text/pascal
lcl/include/control.inc svneol=native#text/pascal
lcl/include/controlcanvas.inc svneol=native#text/pascal
lcl/include/controlsproc.inc svneol=native#text/pascal
lcl/include/customcheckbox.inc svneol=native#text/pascal
lcl/include/customcombobox.inc svneol=native#text/pascal
lcl/include/customcontrol.inc svneol=native#text/pascal
lcl/include/customedit.inc svneol=native#text/pascal
lcl/include/customform.inc svneol=native#text/pascal
lcl/include/customgroupbox.inc svneol=native#text/pascal
lcl/include/customlabel.inc svneol=native#text/pascal
lcl/include/customlistbox.inc svneol=native#text/pascal
lcl/include/customlistview.inc svneol=native#text/pascal
lcl/include/custommemo.inc svneol=native#text/pascal
lcl/include/customnotebook.inc svneol=native#text/pascal
lcl/include/customradiogroup.inc svneol=native#text/pascal
lcl/include/defaultbitbtnimages.inc svneol=native#text/pascal
lcl/include/designer.inc svneol=native#text/pascal
lcl/include/dragobject.inc svneol=native#text/pascal
lcl/include/edit.inc svneol=native#text/pascal
lcl/include/filectrl.inc svneol=native#text/pascal
lcl/include/filedialog.inc svneol=native#text/pascal
lcl/include/font.inc svneol=native#text/pascal
lcl/include/fontdialog.inc svneol=native#text/pascal
lcl/include/form.inc svneol=native#text/pascal
lcl/include/graphic.inc svneol=native#text/pascal
lcl/include/graphiccontrol.inc svneol=native#text/pascal
lcl/include/graphicsobject.inc svneol=native#text/pascal
lcl/include/hkeys.inc svneol=native#text/pascal
lcl/include/imglist.inc svneol=native#text/pascal
lcl/include/interfacebase.inc svneol=native#text/pascal
lcl/include/listitem.inc svneol=native#text/pascal
lcl/include/listitems.inc svneol=native#text/pascal
lcl/include/mainmenu.inc svneol=native#text/pascal
lcl/include/memo.inc svneol=native#text/pascal
lcl/include/memostrings.inc svneol=native#text/pascal
lcl/include/menu.inc svneol=native#text/pascal
lcl/include/menubar.inc svneol=native#text/pascal
lcl/include/menuitem.inc svneol=native#text/pascal
lcl/include/mouse.inc svneol=native#text/pascal
lcl/include/notebook.inc svneol=native#text/pascal
lcl/include/page.inc svneol=native#text/pascal
lcl/include/paintbox.inc svneol=native#text/pascal
lcl/include/pen.inc svneol=native#text/pascal
lcl/include/pixmap.inc svneol=native#text/pascal
lcl/include/popupmenu.inc svneol=native#text/pascal
lcl/include/progressbar.inc svneol=native#text/pascal
lcl/include/radiobutton.inc svneol=native#text/pascal
lcl/include/radiogroup.inc svneol=native#text/pascal
lcl/include/reginifile.inc svneol=native#text/pascal
lcl/include/registry.inc svneol=native#text/pascal
lcl/include/screen.inc svneol=native#text/pascal
lcl/include/scrollbar.inc svneol=native#text/pascal
lcl/include/scrolledwindow.inc svneol=native#text/pascal
lcl/include/sharedimage.inc svneol=native#text/pascal
lcl/include/speedbutton.inc svneol=native#text/pascal
lcl/include/spinedit.inc svneol=native#text/pascal
lcl/include/statusbar.inc svneol=native#text/pascal
lcl/include/timer.inc svneol=native#text/pascal
lcl/include/togglebox.inc svneol=native#text/pascal
lcl/include/toolbar.inc svneol=native#text/pascal
lcl/include/toolbutton.inc svneol=native#text/pascal
lcl/include/toolwindow.inc svneol=native#text/pascal
lcl/include/trackbar.inc svneol=native#text/pascal
lcl/include/winapi.inc svneol=native#text/pascal
lcl/include/winapih.inc svneol=native#text/pascal
lcl/include/wincontrol.inc svneol=native#text/pascal
lcl/interfacebase.pp svneol=native#text/pascal
lcl/interfaces.pp svneol=native#text/pascal
lcl/interfaces/gtk/dragicons.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtkcallback.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtkdragcallback.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtkint.pp svneol=native#text/pascal
lcl/interfaces/gtk/gtklistsl.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtklistslh.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtkobject.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtkproc.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtkwinapi.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtkwinapih.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtkwinapiwindow.pp svneol=native#text/pascal
lcl/interfaces/qt/build.sh -text svneol=native#application/x-sh
lcl/interfaces/qt/include/lpushbt.h svneol=native#text/plain
lcl/interfaces/qt/include/lzqt.h svneol=native#text/plain
lcl/interfaces/qt/include/lztypes.h svneol=native#text/plain
lcl/interfaces/qt/include/lzwidget.h svneol=native#text/plain
lcl/interfaces/qt/include/qtengine.h svneol=native#text/plain
lcl/interfaces/qt/qt.pp svneol=native#text/pascal
lcl/interfaces/qt/qtcallback.inc svneol=native#text/pascal
lcl/interfaces/qt/qtint.pp svneol=native#text/pascal
lcl/interfaces/qt/qtobject.inc svneol=native#text/pascal
lcl/interfaces/qt/src/lpushbt.cpp svneol=native#text/plain
lcl/interfaces/qt/src/lzqt.cpp svneol=native#text/plain
lcl/interfaces/qt/src/lzwidget.cpp svneol=native#text/plain
lcl/interfaces/qt/src/qtengine.cpp svneol=native#text/plain
lcl/interfaces/qt/test/qt.pp svneol=native#text/pascal
lcl/interfaces/qt/test/test.pp svneol=native#text/pascal
lcl/interfaces/win32/win32callback.inc svneol=native#text/pascal
lcl/interfaces/win32/win32int.pp svneol=native#text/pascal
lcl/interfaces/win32/win32object.inc svneol=native#text/pascal
lcl/lcllinux.pp svneol=native#text/pascal
lcl/lmessages.pp svneol=native#text/pascal
lcl/menus.pp svneol=native#text/pascal
lcl/messages.pp svneol=native#text/pascal
lcl/registry.pp svneol=native#text/pascal
lcl/spin.pp svneol=native#text/pascal
lcl/stdctrls.pp svneol=native#text/pascal
lcl/templates/template.inc svneol=native#text/pascal
lcl/templates/template.pp svneol=native#text/pascal
lcl/toolwin.pp svneol=native#text/pascal
lcl/utrace.pp svneol=native#text/pascal
lcl/vclglobals.pp svneol=native#text/pascal
tools/apiwizz/apiwizard.pp svneol=native#text/pascal
tools/apiwizz/apiwizz.pp svneol=native#text/pascal
