* text=auto !eol
components/synedit/allunits.pp svneol=native#text/pascal
components/synedit/syncompletion.pas svneol=native#text/pascal
components/synedit/synedit.inc svneol=native#text/pascal
components/synedit/synedit.pp svneol=native#text/pascal
components/synedit/syneditautocomplete.pp svneol=native#text/pascal
components/synedit/synedithighlighter.pp svneol=native#text/pascal
components/synedit/syneditkeycmds.pp svneol=native#text/pascal
components/synedit/syneditmiscclasses.pp svneol=native#text/pascal
components/synedit/syneditmiscprocs.pp svneol=native#text/pascal
components/synedit/syneditsearch.pp svneol=native#text/pascal
components/synedit/syneditstrconst.pp svneol=native#text/pascal
components/synedit/synedittextbuffer.pp svneol=native#text/pascal
components/synedit/synedittypes.pp svneol=native#text/pascal
components/synedit/synhighlighterpas.pp svneol=native#text/pascal
components/synedit/syntextdrawer.pp svneol=native#text/pascal
designer/abstractcompiler.pp svneol=native#text/pascal
designer/abstractdebugger.pp svneol=native#text/pascal
designer/abstracteditor.pp svneol=native#text/pascal
designer/abstractfilesystem.pp svneol=native#text/pascal
designer/abstractformeditor.pp svneol=native#text/pascal
designer/bookmark.lrs svneol=native#text/pascal
designer/controlselection.pp svneol=native#text/pascal
designer/customeditor.pp svneol=native#text/pascal
designer/designer.pp svneol=native#text/pascal
designer/designerwidget.pp svneol=native#text/pascal
designer/filesystem.pp svneol=native#text/pascal
designer/jitforms.pp svneol=native#text/pascal
designer/lazarus_control_images.lrs svneol=native#text/pascal
designer/objectinspector.pp svneol=native#text/pascal
designer/propedits.pp svneol=native#text/pascal
designer/test_obj_inspector.pp svneol=native#text/pascal
designer/test_unit.pp svneol=native#text/pascal
designer/widgetstack.pp svneol=native#text/pascal
examples/bitbtnform.pp svneol=native#text/pascal
examples/bitbutton.pp svneol=native#text/pascal
examples/checkbox.pp svneol=native#text/pascal
examples/combobox.pp svneol=native#text/pascal
examples/comdialogs.pp svneol=native#text/pascal
examples/dlgform.pp svneol=native#text/pascal
examples/edittest.pp svneol=native#text/pascal
examples/groupbox.pp svneol=native#text/pascal
examples/hello.pp svneol=native#text/pascal
examples/helloform.pp svneol=native#text/pascal
examples/listboxtest.pp svneol=native#text/pascal
examples/memotest.pp svneol=native#text/pascal
examples/notebk.pp svneol=native#text/pascal
examples/notebku.pp svneol=native#text/pascal
examples/notebooktest.pp svneol=native#text/pascal
examples/progressbar.pp svneol=native#text/pascal
examples/scrollbar.pp svneol=native#text/pascal
examples/selection.pp svneol=native#text/pascal
examples/selectionform.pp svneol=native#text/pascal
examples/speedtest.pp svneol=native#text/pascal
examples/testall.pp svneol=native#text/pascal
examples/testallform.pp svneol=native#text/pascal
examples/testtools.inc svneol=native#text/pascal
examples/toolbar.pp svneol=native#text/pascal
examples/trackbar.pp svneol=native#text/pascal
ide/codetemplatedialog.pp svneol=native#text/pascal
ide/compiler.pp svneol=native#text/pascal
ide/compileroptions.pp svneol=native#text/pascal
ide/compreg.pp svneol=native#text/pascal
ide/customformeditor.pp svneol=native#text/pascal
ide/dlgmessage.lfm svneol=native#text/plain
ide/dlgmessage.lrs svneol=native#text/pascal
ide/dlgmessage.pp svneol=native#text/pascal
ide/editoroptions.pp svneol=native#text/pascal
ide/environmentopts.pp svneol=native#text/pascal
ide/find_dlg.pp svneol=native#text/pascal
ide/findreplacedialog.pp svneol=native#text/pascal
ide/formeditor.pp svneol=native#text/pascal
ide/global.inc svneol=native#text/pascal
ide/global.pp svneol=native#text/pascal
ide/idecomp.pp svneol=native#text/pascal
ide/include/freebsd/lazconf.inc svneol=native#text/pascal
ide/include/linux/lazconf.inc svneol=native#text/pascal
ide/include/win32/lazconf.inc svneol=native#text/pascal
ide/keymapping.pp svneol=native#text/pascal
ide/lazarus.pp svneol=native#text/pascal
ide/lazconf.pp svneol=native#text/pascal
ide/lazres.pp svneol=native#text/pascal
ide/main.pp svneol=native#text/pascal
ide/project.pp svneol=native#text/pascal
ide/splash.pp svneol=native#text/pascal
ide/testform.pp svneol=native#text/pascal
ide/uniteditor.pp svneol=native#text/pascal
ide/viewform_dlg.lfm svneol=native#text/plain
ide/viewform_dlg.pp svneol=native#text/pascal
ide/viewforms1.lrs svneol=native#text/pascal
ide/viewunit_dlg.lfm svneol=native#text/plain
ide/viewunit_dlg.pp svneol=native#text/pascal
ide/viewunits1.lrs svneol=native#text/pascal
ide/wordcompletion.pp svneol=native#text/pascal
images/color.xpm -text svneol=native#image/x-xpixmap
images/default.xpm -text svneol=native#image/x-xpixmap
images/fonts.xpm -text svneol=native#image/x-xpixmap
images/laz_images.lrs svneol=native#text/pascal
images/lazarus.xpm -text svneol=native#image/x-xpixmap
images/lazarus64.xpm -text svneol=native#image/x-xpixmap
images/mouse.xpm -text svneol=native#image/x-xpixmap
images/notebook.xpm -text svneol=native#image/x-xpixmap
images/penguin.xpm -text svneol=native#image/x-xpixmap
images/tbitbtn.xpm -text svneol=native#image/x-xpixmap
images/tbutton.xpm -text svneol=native#image/x-xpixmap
images/tcheckbox.xpm -text svneol=native#image/x-xpixmap
images/tcombobox.xpm -text svneol=native#image/x-xpixmap
images/tedit.xpm -text svneol=native#image/x-xpixmap
images/tlabel.xpm -text svneol=native#image/x-xpixmap
images/tlistbox.xpm -text svneol=native#image/x-xpixmap
images/tmemo.xpm -text svneol=native#image/x-xpixmap
images/tmenu.xpm -text svneol=native#image/x-xpixmap
images/tnotebook.xpm -text svneol=native#image/x-xpixmap
images/tpopupmenu.xpm -text svneol=native#image/x-xpixmap
images/tradiobutton.xpm -text svneol=native#image/x-xpixmap
images/tspeedbutton.xpm -text svneol=native#image/x-xpixmap
images/tspinedit.xpm -text svneol=native#image/x-xpixmap
lcl/allunits.pp svneol=native#text/pascal
lcl/buttons.pp svneol=native#text/pascal
lcl/clipbrd.pp svneol=native#text/pascal
lcl/clistbox.pp svneol=native#text/pascal
lcl/comctrls.pp svneol=native#text/pascal
lcl/controls.pp svneol=native#text/pascal
lcl/dialogs.pp svneol=native#text/pascal
lcl/extctrls.pp svneol=native#text/pascal
lcl/filectrl.pp svneol=native#text/pascal
lcl/forms.pp svneol=native#text/pascal
lcl/graphics.pp svneol=native#text/pascal
lcl/imglist.pp svneol=native#text/pascal
lcl/include/alignment.inc svneol=native#text/pascal
lcl/include/application.inc svneol=native#text/pascal
lcl/include/basedragcontrolobject.inc svneol=native#text/pascal
lcl/include/bevel.inc svneol=native#text/pascal
lcl/include/bitbtn.inc svneol=native#text/pascal
lcl/include/bitmap.inc svneol=native#text/pascal
lcl/include/bitmapcanvas.inc svneol=native#text/pascal
lcl/include/bitmapimage.inc svneol=native#text/pascal
lcl/include/brush.inc svneol=native#text/pascal
lcl/include/buttoncontrol.inc svneol=native#text/pascal
lcl/include/buttonglyph.inc svneol=native#text/pascal
lcl/include/buttons.inc svneol=native#text/pascal
lcl/include/canvas.inc svneol=native#text/pascal
lcl/include/checkbox.inc svneol=native#text/pascal
lcl/include/clipbrd.inc svneol=native#text/pascal
lcl/include/colordialog.inc svneol=native#text/pascal
lcl/include/commondialog.inc svneol=native#text/pascal
lcl/include/control.inc svneol=native#text/pascal
lcl/include/controlcanvas.inc svneol=native#text/pascal
lcl/include/controlsproc.inc svneol=native#text/pascal
lcl/include/customcheckbox.inc svneol=native#text/pascal
lcl/include/customcombobox.inc svneol=native#text/pascal
lcl/include/customcontrol.inc svneol=native#text/pascal
lcl/include/customedit.inc svneol=native#text/pascal
lcl/include/customform.inc svneol=native#text/pascal
lcl/include/customgroupbox.inc svneol=native#text/pascal
lcl/include/customlabel.inc svneol=native#text/pascal
lcl/include/customlistbox.inc svneol=native#text/pascal
lcl/include/customlistview.inc svneol=native#text/pascal
lcl/include/custommemo.inc svneol=native#text/pascal
lcl/include/customnotebook.inc svneol=native#text/pascal
lcl/include/customradiogroup.inc svneol=native#text/pascal
lcl/include/defaultbitbtnimages.inc svneol=native#text/pascal
lcl/include/dragobject.inc svneol=native#text/pascal
lcl/include/edit.inc svneol=native#text/pascal
lcl/include/filectrl.inc svneol=native#text/pascal
lcl/include/filedialog.inc svneol=native#text/pascal
lcl/include/font.inc svneol=native#text/pascal
lcl/include/fontdialog.inc svneol=native#text/pascal
lcl/include/form.inc svneol=native#text/pascal
lcl/include/graphic.inc svneol=native#text/pascal
lcl/include/graphiccontrol.inc svneol=native#text/pascal
lcl/include/graphicsobject.inc svneol=native#text/pascal
lcl/include/hkeys.inc svneol=native#text/pascal
lcl/include/imglist.inc svneol=native#text/pascal
lcl/include/interfacebase.inc svneol=native#text/pascal
lcl/include/listitem.inc svneol=native#text/pascal
lcl/include/listitems.inc svneol=native#text/pascal
lcl/include/mainmenu.inc svneol=native#text/pascal
lcl/include/memo.inc svneol=native#text/pascal
lcl/include/memostrings.inc svneol=native#text/pascal
lcl/include/menu.inc svneol=native#text/pascal
lcl/include/menubar.inc svneol=native#text/pascal
lcl/include/menuitem.inc svneol=native#text/pascal
lcl/include/mouse.inc svneol=native#text/pascal
lcl/include/notebook.inc svneol=native#text/pascal
lcl/include/page.inc svneol=native#text/pascal
lcl/include/paintbox.inc svneol=native#text/pascal
lcl/include/pen.inc svneol=native#text/pascal
lcl/include/pixmap.inc svneol=native#text/pascal
lcl/include/popupmenu.inc svneol=native#text/pascal
lcl/include/progressbar.inc svneol=native#text/pascal
lcl/include/radiobutton.inc svneol=native#text/pascal
lcl/include/radiogroup.inc svneol=native#text/pascal
lcl/include/reginifile.inc svneol=native#text/pascal
lcl/include/registry.inc svneol=native#text/pascal
lcl/include/screen.inc svneol=native#text/pascal
lcl/include/scrollbar.inc svneol=native#text/pascal
lcl/include/scrolledwindow.inc svneol=native#text/pascal
lcl/include/sharedimage.inc svneol=native#text/pascal
lcl/include/speedbutton.inc svneol=native#text/pascal
lcl/include/spinedit.inc svneol=native#text/pascal
lcl/include/statusbar.inc svneol=native#text/pascal
lcl/include/statuspanel.inc svneol=native#text/pascal
lcl/include/statuspanels.inc svneol=native#text/pascal
lcl/include/timer.inc svneol=native#text/pascal
lcl/include/togglebox.inc svneol=native#text/pascal
lcl/include/toolbar.inc svneol=native#text/pascal
lcl/include/toolbutton.inc svneol=native#text/pascal
lcl/include/toolwindow.inc svneol=native#text/pascal
lcl/include/trackbar.inc svneol=native#text/pascal
lcl/include/winapi.inc svneol=native#text/pascal
lcl/include/winapih.inc svneol=native#text/pascal
lcl/include/wincontrol.inc svneol=native#text/pascal
lcl/interfacebase.pp svneol=native#text/pascal
lcl/interfaces/gtk/dragicons.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtkcallback.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtkdef.pp svneol=native#text/pascal
lcl/interfaces/gtk/gtkdragcallback.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtkint.pp svneol=native#text/pascal
lcl/interfaces/gtk/gtklistsl.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtklistslh.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtkobject.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtkproc.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtkwinapi.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtkwinapih.inc svneol=native#text/pascal
lcl/interfaces/gtk/gtkwinapiwindow.pp svneol=native#text/pascal
lcl/interfaces/gtk/interfaces.pp svneol=native#text/pascal
lcl/interfaces/qt/build.sh -text svneol=native#application/x-sh
lcl/interfaces/qt/include/lpushbt.h svneol=native#text/plain
lcl/interfaces/qt/include/lzqt.h svneol=native#text/plain
lcl/interfaces/qt/include/lztypes.h svneol=native#text/plain
lcl/interfaces/qt/include/lzwidget.h svneol=native#text/plain
lcl/interfaces/qt/include/qtengine.h svneol=native#text/plain
lcl/interfaces/qt/interfaces.pp svneol=native#text/pascal
lcl/interfaces/qt/qt.pp svneol=native#text/pascal
lcl/interfaces/qt/qtcallback.inc svneol=native#text/pascal
lcl/interfaces/qt/qtint.pp svneol=native#text/pascal
lcl/interfaces/qt/qtobject.inc svneol=native#text/pascal
lcl/interfaces/qt/src/lpushbt.cpp svneol=native#text/plain
lcl/interfaces/qt/src/lzqt.cpp svneol=native#text/plain
lcl/interfaces/qt/src/lzwidget.cpp svneol=native#text/plain
lcl/interfaces/qt/src/qtengine.cpp svneol=native#text/plain
lcl/interfaces/qt/test/qt.pp svneol=native#text/pascal
lcl/interfaces/qt/test/test.pp svneol=native#text/pascal
lcl/interfaces/win32/interfaces.pp svneol=native#text/pascal
lcl/interfaces/win32/win32callback.inc svneol=native#text/pascal
lcl/interfaces/win32/win32int.pp svneol=native#text/pascal
lcl/interfaces/win32/win32object.inc svneol=native#text/pascal
lcl/lcllinux.pp svneol=native#text/pascal
lcl/lmessages.pp svneol=native#text/pascal
lcl/lresources.pp svneol=native#text/pascal
lcl/menus.pp svneol=native#text/pascal
lcl/messages.pp svneol=native#text/pascal
lcl/registry.pp svneol=native#text/pascal
lcl/spin.pp svneol=native#text/pascal
lcl/stdctrls.pp svneol=native#text/pascal
lcl/templates/template.inc svneol=native#text/pascal
lcl/templates/template.pp svneol=native#text/pascal
lcl/toolwin.pp svneol=native#text/pascal
lcl/utrace.pp svneol=native#text/pascal
lcl/vclglobals.pp svneol=native#text/pascal
tools/apiwizz/apiwizard.pp svneol=native#text/pascal
tools/apiwizz/apiwizz.pp svneol=native#text/pascal
tools/lazarusmake.ini svneol=native#text/plain
