* text=auto !eol
gtk/dragicons.inc svneol=native#text/pascal
gtk/gtk1def.pp svneol=native#text/pascal
gtk/gtk1devicecontext.inc svneol=native#text/pascal
gtk/gtk1extra.inc svneol=native#text/pascal
gtk/gtk1extrah.inc svneol=native#text/pascal
gtk/gtk1int.pp svneol=native#text/pascal
gtk/gtk1memostrings.inc svneol=native#text/pascal
gtk/gtk1memostringsh.inc svneol=native#text/pascal
gtk/gtk1privatelist.inc svneol=native#text/pascal
gtk/gtk1trayicon.inc -text
gtk/gtk1widgetset.inc svneol=native#text/pascal
gtk/gtk1wsprivate.pp svneol=native#text/pascal
gtk/gtkcallback.inc svneol=native#text/pascal
gtk/gtkcomboboxcallback.inc svneol=native#text/pascal
gtk/gtkdebug.pp svneol=native#text/pascal
gtk/gtkdef.pp svneol=native#text/pascal
gtk/gtkdefines.inc svneol=native#text/pascal
gtk/gtkdevicecontext.inc svneol=native#text/pascal
gtk/gtkdragcallback.inc svneol=native#text/pascal
gtk/gtkextra.pp svneol=native#text/pascal
gtk/gtkfiledialogutils.inc svneol=native#text/plain
gtk/gtkfiledialogutilsh.inc svneol=native#text/plain
gtk/gtkfontcache.pas svneol=native#text/pascal
gtk/gtkglobals.pp svneol=native#text/pascal
gtk/gtkimages.lrs svneol=native#text/pascal
gtk/gtkint.pp svneol=native#text/pascal
gtk/gtkkeysyms.inc svneol=native#text/pascal
gtk/gtklclintf.inc svneol=native#text/pascal
gtk/gtklclintfh.inc svneol=native#text/pascal
gtk/gtklistsl.inc svneol=native#text/pascal
gtk/gtklistslh.inc svneol=native#text/pascal
gtk/gtkmsgqueue.pp svneol=native#text/pascal
gtk/gtkpagecallback.inc svneol=native#text/pascal
gtk/gtkprivatelist.inc svneol=native#text/pascal
gtk/gtkprivatewidget.inc svneol=native#text/plain
gtk/gtkproc.inc svneol=native#text/pascal
gtk/gtkproc.pp svneol=native#text/pascal
gtk/gtkstdpixmaps.inc svneol=native#text/pascal
gtk/gtkthemes.pas svneol=native#text/pascal
gtk/gtkwidgetset.inc svneol=native#text/pascal
gtk/gtkwinapi.inc svneol=native#text/pascal
gtk/gtkwinapih.inc svneol=native#text/pascal
gtk/gtkwinapiwindow.pp svneol=native#text/pascal
gtk/gtkwsarrow.pp svneol=native#text/pascal
gtk/gtkwsbuttons.pp svneol=native#text/pascal
gtk/gtkwscalendar.pp svneol=native#text/pascal
gtk/gtkwschecklst.pp svneol=native#text/pascal
gtk/gtkwscomctrls.pp svneol=native#text/pascal
gtk/gtkwscontrols.pp svneol=native#text/pascal
gtk/gtkwscustomlistview.inc svneol=native#text/pascal
gtk/gtkwsdialogs.pp svneol=native#text/pascal
gtk/gtkwsextctrls.pp svneol=native#text/pascal
gtk/gtkwsextdlgs.pp svneol=native#text/pascal
gtk/gtkwsfactory.pas svneol=native#text/pascal
gtk/gtkwsforms.pp svneol=native#text/pascal
gtk/gtkwsgrids.pp svneol=native#text/pascal
gtk/gtkwsimglist.pp svneol=native#text/pascal
gtk/gtkwsmenus.pp svneol=native#text/pascal
gtk/gtkwspairsplitter.pp svneol=native#text/pascal
gtk/gtkwsprivate.pp svneol=native#text/pascal
gtk/gtkwsspin.pp svneol=native#text/pascal
gtk/gtkwsstdctrls.pp svneol=native#text/pascal
gtk/interfaces.pp svneol=native#text/pascal
gtk/issues.xml svneol=native#text/xml
gtk/tests/gtkclipboard.lpi svneol=native#text/plain
gtk/tests/gtkclipboard.lpr svneol=native#text/plain
gtk/tests/lclclipboardtest.lpi svneol=native#text/plain
gtk/tests/lclclipboardtest.lpr svneol=native#text/plain
gtk/tests/lclclipboardunit.lfm svneol=native#text/plain
gtk/tests/lclclipboardunit.pas svneol=native#text/plain
gtk/tnotebook_close_tab.xpm -text svneol=native#image/x-xpixmap
gtk2/README.txt svneol=native#text/plain
gtk2/TODOS.txt svneol=native#text/plain
gtk2/gtk2callback.inc svneol=native#text/plan
gtk2/gtk2cellrenderer.pas svneol=native#text/plain
gtk2/gtk2def.pp svneol=native#text/pascal
gtk2/gtk2devicecontext.inc svneol=native#text/pascal
gtk2/gtk2extra.inc svneol=native#text/pascal
gtk2/gtk2extrah.inc svneol=native#text/pascal
gtk2/gtk2int.pas svneol=native#text/pascal
gtk2/gtk2lclintf.inc svneol=native#text/pascal
gtk2/gtk2lclintfh.inc svneol=native#text/pascal
gtk2/gtk2listviewtreemodel.pas svneol=native#text/plain
gtk2/gtk2memostrings.inc svneol=native#text/pascal
gtk2/gtk2privatelist.inc svneol=native#text/pascal
gtk2/gtk2privatewidget.inc svneol=native#text/plain
gtk2/gtk2proc.pp svneol=native#text/plan
gtk2/gtk2themes.pas svneol=native#text/pascal
gtk2/gtk2trayicon.inc svneol=native#text/pascal
gtk2/gtk2widgetset.inc svneol=native#text/pascal
gtk2/gtk2winapi.inc svneol=native#text/pascal
gtk2/gtk2winapih.inc svneol=native#text/pascal
gtk2/gtk2windows.pas svneol=native#text/pascal
gtk2/gtk2wsarrow.pp svneol=native#text/pascal
gtk2/gtk2wsbuttons.pp svneol=native#text/pascal
gtk2/gtk2wscalendar.pp svneol=native#text/pascal
gtk2/gtk2wschecklst.pp svneol=native#text/pascal
gtk2/gtk2wscomctrls.pp svneol=native#text/pascal
gtk2/gtk2wscontrols.pp svneol=native#text/pascal
gtk2/gtk2wscustomlistview.inc svneol=native#text/pascal
gtk2/gtk2wscustommemo.inc svneol=native#text/pascal
gtk2/gtk2wsdialogs.pp svneol=native#text/pascal
gtk2/gtk2wsextctrls.pp svneol=native#text/pascal
gtk2/gtk2wsextdlgs.pp svneol=native#text/pascal
gtk2/gtk2wsfactory.pas svneol=native#text/pascal
gtk2/gtk2wsforms.pp svneol=native#text/pascal
gtk2/gtk2wsgrids.pp svneol=native#text/pascal
gtk2/gtk2wsimglist.pp svneol=native#text/pascal
gtk2/gtk2wsmenus.pp svneol=native#text/pascal
gtk2/gtk2wspairsplitter.pp svneol=native#text/pascal
gtk2/gtk2wsprivate.pp svneol=native#text/pascal
gtk2/gtk2wsspin.pp svneol=native#text/pascal
gtk2/gtk2wsstdctrls.pp svneol=native#text/pascal
gtk2/interfaces.pas svneol=native#text/pascal
gtk2/issues.xml svneol=native#text/xml
gtk2/tests/checkbuttononfixed.lpi svneol=native#text/plain
gtk2/tests/checkbuttononfixed.lpr svneol=native#text/plain
gtk2/tests/stutter.pas svneol=native#text/plain
