* text=auto !eol
**/*.pp text
**/*.pas text
**/*.inc text
**/*.lfm text
**/*.lrs text
**/*.lps text
**/*.lpr text
**/*.lpi text
**/*.lpk text
**/*.lpl text
**/*.lrj text
**/*.dpr text
**/*.dfm text
**/*.pot text
**/*.po text
**/*.rc text
**/*.txt text
**/*.txt.sample text
**/*.ini text
**/*.cfg text
**/*.iss text
**/*.isl text
**/*.xml text
**/*.xsl text
**/*.html text
**/*.css text
**/*.php text
**/*.js text
**/.htaccess text
**/*.patch text
**/*.md text
**/*.bat text
**/*.sh text
**/*.compiled text
**/*.bdsproj text
**/*.plist text
**/*.h text
**/*.c text
**/*.cpp text
**/*.in text
**/*.xpm text
**/*.svg text
**/Makefile text
**/Makefile.compiled text
**/Makefile.fpc text
**/*.exe -text
**/*.dll -text
**/*.so -text
**/*.gif -text
**/*.jpg -text
**/*.ico -text
**/*.bmp -text
**/*.res -text
**/*.ttf -text
**/*.cur -text
**/*.db3 -text
**/*.dbf -text
**/*.mbf -text
**/*.mdx -text
**/*.fbk -text
**/*.odt -text
**/*.ods -text
**/*.odg -text
**/*.odp -text
**/*.xls -text
**/*.pdf -text
**/*.zip -text
**/*.rar -text
**/*.tar -text
**/*.tgz -text
**/*.gz -text
**/*.icns -text
**/*.dcr -text
components/aggpas/**/*.ppm -text
**/*.app/Contents/MacOS/* -text